<div align="cnter" style="color:red"><i style="font-size:30">You are Permantly Deleted From Our site</i><div></br>
<div style="color:red"><i style="font-size:15px"><%= link_to "Back to HomePage",home_index_path %></i></div>
